In [1]:
import psycopg2

In [2]:
# PGHOST = 'postgres_endpoint'
PGHOST = 'final-project-data-analytics.c53bsxseplpp.us-east-2.rds.amazonaws.com'

# PGDATABASE = 'postgres_db_name'
PGDATABASE = 'AWS_RDS_Final_Project_db'

# PGUSER = 'postgres_user'
PGUSER = 'root'

# PGPASSWORD = 'postgres_db_password'
PGPASSWORD = 'abcd1234'

In [3]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [4]:
# Connecting to DB
conn, cursor = connect()

# SQL command to create inventory table
create_table = """
    
	CREATE TABLE Brent_Oil_Prices (
     date DATE,
     price DECIMAL(10,2),
     PRIMARY KEY (date)
	);

	CREATE TABLE EV_Charging_Stations (
		station_name VARCHAR,
		street_address VARCHAR,
		city VARCHAR,
		access_days_time VARCHAR,
		ev_level1_evse_num VARCHAR,      --has "NONE" string
		ev_level2_evse_num VARCHAR,      --has "NONE" string
		ev_dc_fast_count VARCHAR,        --has "NONE" string
		ev_other_info VARCHAR,
		new_georeferenced_column VARCHAR	
	);


	CREATE TABLE ECar_Data_Clean_Me (
		brand VARCHAR,
		model VARCHAR,
		accel_sec DECIMAL(4,1),
		top_speed_kmh INT,
		range_km INT,
		battery_pack_Kwh DECIMAL(4,1),
		efficiency_whkm INT,
		fast_charge_kmH INT,
		rapid_charge CHAR(3),          
		power_train CHAR(3),
		plug_type VARCHAR,
		body_style VARCHAR,
		segment CHAR(1),
		seats INT,
		price_euro INT
	);


	CREATE TABLE nyserda_EV_rebate(
		data_through_date DATE,
		submitted_date DATE,
		make VARCHAR,
		model VARCHAR,
		county VARCHAR,
		zip INT,
		ev_type CHAR(4),
		transaction_type VARCHAR,
		annu_ghg_emis_reduct NUMERIC(3,2),  
		annu_petro_reduct NUMERIC(5,2),
		Rebate_Amount INT
	);


	CREATE TABLE Quickest_ecars_EVDatabase (
		name VARCHAR,
		subtitle VARCHAR,
		acceleration_sec DECIMAL(3,1),
		top_speed_kmh INT,
		range_km INT,
		efficiency_whkm INT,
		fast_charge_speed_kmH INT,
		drive VARCHAR,
		number_of_seats INT,
		price_germany_euro VARCHAR,
		price_UK_pound VARCHAR
	);


	CREATE TABLE ECar_Sales_by_Model_in_USA (
		make VARCHAR,
		model VARCHAR,
		logo VARCHAR,
		jan_12 INT,
		feb_12 INT,
		mar_12 INT,
		apr_12 INT,
		may_12 INT,
		jun_12 INT,
		jul_12 INT,
		aug_12 INT,
		sep_12 INT,
		oct_12 INT,
		nov_12 INT,
		dec_12 INT,
		jan_13 INT,
		feb_13 INT,
		mar_13 INT,
		apr_13 INT,
		may_13 INT,
		jun_13 INT,
		jul_13 INT,
		aug_13 INT,
		sep_13 INT,
		oct_13 INT,
		nov_13 INT,
		dec_13 INT,
		jan_14 INT,
		feb_14 INT,
		mar_14 INT,
		apr_14 INT,
		may_14 INT,
		jun_14 INT,
		jul_14 INT,
		aug_14 INT,
		sep_14 INT,
		oct_14 INT,
		nov_14 INT,
		dec_14 INT,
		jan_15 INT,
		feb_15 INT,
		mar_15 INT,
		apr_15 INT,
		may_15 INT,
		jun_15 INT,
		jul_15 INT,
		aug_15 INT,
		sep_15 INT,
		oct_15 INT,
		nov_15 INT,
		dec_15 INT,
		jan_16 INT,
		feb_16 INT,
		mar_16 INT,
		apr_16 INT,
		may_16 INT,
		jun_16 INT,
		jul_16 INT,
		aug_16 INT,
		sep_16 INT,
		oct_16 INT,
		nov_16 INT,
		dec_16 INT,
		jan_17 INT,
		feb_17 INT,
		mar_17 INT,
		apr_17 INT,
		may_17 INT,
		jun_17 INT,
		jul_17 INT,
		aug_17 INT,
		sep_17 INT,
		oct_17 INT,
		nov_17 INT,
		dec_17 INT,
		jan_18 INT,
		feb_18 INT,
		mar_18 INT,
		apr_18 INT,
		may_18 INT,
		jun_18 INT,
		jul_18 INT,
		aug_18 INT,
		sep_18 INT,
		oct_18 INT,
		nov_18 INT,
		dec_18 INT,
		jan_19 INT,
		feb_19 INT,
		mar_19 INT,
		apr_19 INT,
		may_19 INT,
		jun_19 INT,
		jul_19 INT,
		aug_19 INT,
		sep_19 INT,
		oct_19 INT,
		nov_19 INT,
		dec_19 INT
	);

    """

# Execute SQL Command and commit to DB
cursor.execute(create_table)
conn.commit()

Connected!

In [5]:
# Disconnect from DB
cursor.close()
conn.close()
print("DB Disconnected")

DB Disconnected